.app {
  max-width: 520px;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 30px;
  background-image: linear-gradient(to top, #9fd1e8 0%, #f6faff 100%);
}

figure {
  margin: 5em auto;
  width: 350px;
  height: 150px;
}

h1 {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: #1a1111;
}
#place {
  display: inline-block;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  color: #1a1111;
  font-weight: 600px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
}
.celsius_fahrenheit {
  float: right;
  position: relative;
  right: 20px;
  top: 10px;
}
.fa-sun,
.fa-cloud-sun,
.fa-cloud-sun-rain {
  font-size: 70px;
}
#currentTemperature {
  font-size: 25px;
}

li {
  text-transform: capitalize;
}
form {
  margin: 20px auto 10px auto;
}

#tomorrow {
  font-weight: 600;
}
#dayAfterTomorrow {
  font-weight: 600;
}

#twoDaysAfterTomorrow {
  font-weight: 600;
}

#iconCurrentWeather {
  position: relative;
  left: +40px;
  top: +20px;
  width: 90px;
}

#musicDrizzle,
#musicRain,
#musicAtmosphere,
#musicClear,
#musicThunderstorm,
#musicSnow,
#musicClouds {
  display: none;
}

#credit {
  text-align: right;
  font-size: 10px;
}
